# -----------------------------------------------------
# minute hour day_of_month month day_of_week command
# -----------------------------------------------------

SHELL=/bin/bash
DISPLAY=":0.0"
XAUTHORITY="/home/aarya/.Xauthority"
DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus

# 0 */3 * * * /home/aarya/scripts/alert-service/run.sh
# @daily /bin/bash /home/aarya/scripts/wallpaper.sh 2>&1 >/home/aarya/crontab.log

