# -----------------------------------------------------
# minute hour day_of_month month day_of_week command
# -----------------------------------------------------

0 */3 * * * /home/aarya/dotfiles/scripts/alert-service/run.sh
