# -----------------------------------------------------
# minute hour day_of_month month day_of_week command
# -----------------------------------------------------

0 */3 * * * /home/aarya/scripts/alert-service/run.sh
*/5 * * * * /home/aarya/scripts/monitor.sh
